body {
  margin: 0;
}

img {
  width: 100%;
}

h3 {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
}

div {
  text-align: center;
}

.container {
  position: relative;
}

.class_room_1_left {
  background-color: #FF8000;
  width: 149.5px;
  height: 132px;
  position: absolute;
  left: 327px;
  top: 11.3px;
}

.class_room_1_right {
  background-color: #FF8000;
  width: 164.2px;
  height: 136.5px;
  position: absolute;
  left: 639.4px;
  top: 9px;
}

.class_room_2_left {
  background-color: #FF8000;
  width: 150px;
  height: 145.2px;
  position: absolute;
  left: 326px;
  top: 152.3px;
}

.class_room_2_right {
  background-color: #FF8000;
  width: 160px;
  height: 139px;
  position: absolute;
  left: 643.5px;
  top: 154.5px;
}

.class_room_3 {
  background-color: #FF8000;
  width: 151px;
  height: 138px;
  position: absolute;
  left: 325px;
  top: 304.5px;
}

.wash_room {
  background-color: brown;
  width: 151px;
  height: 119px;
  position: absolute;
  left: 324.5px;
  top: 545px;
}

.open_space {
  background-color: #89e543;
  width: 266px;
  height: 232px;
  position: absolute;
  left: 638.4px;
  top: 548px;
}

.stairs_1 {
  background-color: red;
  width: 152px;
  height: 86.3px;
  position: absolute;
  left: 324px;
  top: 450.4px;
}

.stairs_1_button {
  position: absolute;
  left: 28px;
  bottom: 5px;
}

.stairs_2 {
  background-color: red;
  width: 92.5px;
  height: 139.5px;
  position: absolute;
  left: 734px;
  top: 868.4px;
}

.stairs_2_button {
  width: 60%;
  position: absolute;
  left: 20px;
  bottom: 5px;
}

.lab {
  background-color: #4285F4;
  width: 164.5px;
  height: 235.5px;
  position: absolute;
  left: 642.5px;
  top: 301.5px;
}

.examination_section {
  background-color: #4285F4;
  width: 179px;
  height: 142px;
  position: absolute;
  left: 836.5px;
  top: 867.3px;
}

.academic_section {
  background-color: #4285F4;
  width: 240px;
  height: 138px;
  position: absolute;
  left: 1022.5px;
  top: 870px;
}

.conference_room {
  background-color: #4285F4;
  width: 354px;
  height: 224px;
  position: absolute;
  left: 913px;
  top: 555.5px;
}

.staff_room {
  background-color: #4285F4;
  width: 152px;
  height: 242px;
  position: absolute;
  left: 324.5px;
  top: 672px;
}
